{#<nav>#}
{#    <ul>#}
{#        <img src="./static/images/chef.png" alt="chef">#}
{#        <div>#}
{#            <li class="title"><a href="/">Recipes</a></li>#}
{##}
{#        </div>#}
{#        <div>#}
{#            <li><a href="./create.html">Add Recipe</a></li>#}
{#        </div>#}
{##}
{#    </ul>#}
{#</nav>#}


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'home' %}">Recipes</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'create recipe' %}">Add Recipe</a>
                </li>
            </ul>

{#            </div>#}
{#            <a class="nav-link" href="{% url 'sign in' %}">Log In</a>#}
{#            <a class="nav-link" href="{% url 'sign up' %}">Register</a>#}
{#            <div>#}


        </div>
</nav>
