{% extends 'components/base.html' %}

{% block content %}

    {% if expenses %}
        <div class="body">
            <!-- Summary -->
            <div>
                <h1>Summary</h1>
                <ul class="expenses-list">
                    <!-- User Budget -->
                    <li class="blue">1600.00$</li>
                    <!-- First Expense -->
                    <li class="red"> - 900.00$</li>
                    <!-- Second Expense -->
                    <li class="red"> - 200.00$</li>
                    <!-- Money Left -->
                    <li class="green">= 500.00$ left</li>
                </ul>
            </div>
            <!-- End Summary -->

            {% for expense in expenses %}
            <div class="expenses-container">

                <!-- First Expense Container -->
                <div class="expense-container">
                    <!-- Expense Title -->
                    <h2>{{ expense.title }}</h2>
                    <!-- Expense Image -->
                    <img src="{{ expense.expense_image }}"
                         alt="description">
                    <!-- Expense Description -->
                    <p>{{ expense.description }}</p>
                    <div class="expense-detail">
                        <div>
                            <!-- Expense Price -->
                            <p>Price: {{ expense.price }}</p>
                        </div>
                        <div class="right">
                            <!-- Edit Expense Button -->
                            <a class="button edit" href="{% url 'edit expense page' expense.id %}">Edit</a>
                            <!-- Delete Expense Button -->
                            <a class="button delete" href="{% url 'delete expense page' expense.id %}">Delete</a>
                        </div>
                    </div>

                </div>
                <!-- End First Expense Container -->
                {% endfor %}
            </div>
        </div>
    {% else %}
        <!-- Headline My Expenses -->
        <h1>My Expenses</h1>
        <!-- Add Expense Button -->
        <a class="button add" href="{%  url 'create expense page' %}">Add Expense</a>
    {% endif %}
{% endblock %}